:root {
	--strong-cyan: hsl(171, 66%, 44%);
	--light-blue: hsl(233, 100%, 69%);
	--dark-grayish-blue: hsl(210, 10%, 33%);
	--grayish-blue: hsl(201, 11%, 66%);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 120px 20px 0px 20px;
	min-height: 100vh;
	background-image: url(/images/bg-header-mobile.png);
	background-repeat: no-repeat;
    background-size: contain;
	font-family: "Bai Jamjuree", sans-serif;
	font-size: 18px;
	text-align: center;
}

button {
    font-family: "Bai Jamjuree", sans-serif;
    width: 300px;
    height: 60px;
    margin-top: 30px;
    border-radius: 50px;
    color: white;
    font-size: 18px;
}

button:hover {
	cursor: pointer;
}

.ios-button {
    background-color: var(--strong-cyan);
	border: 1px solid var(--strong-cyan);
	box-shadow: 0px 4px hsl(171, 66%, 38%);
	
}

.ios-button:hover {
	background-color: hsl(171, 56%, 52%);;
}

.mac-button {
    background-color: var(--light-blue);
	border: 1px solid var(--light-blue);
	box-shadow: 0px 4px hsl(233, 65%, 59%);
	margin-bottom: 150px;
}

.mac-button:hover {
	background-color:  hsl(233, 70%, 71%);
}

h1 {
	margin-top: 80px;
	font-size: 33px;
}

h1, h2, h3 {
    color: var(--dark-grayish-blue);
}

p {
    color: var(--grayish-blue);
    padding: 0px 0px 0px 0px;
	margin: 0px 0px 30px 0px;
	line-height: 1.7rem;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    margin-top: 30px;
}

li a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

#top-clipboard-logo {
	width: 120px;
	margin-top: 130px;
}

#apple-desktop {
	width: 300px;
	margin: 50px 0px 30px 0px;
}

#access-clipboard-title {
	margin-top: 10rem;
}

#mobile-devices {
	width: 340px;
	margin: 40px 0px 50px 0px
}

.feature-icons {
	margin-top: 3rem;
}


#bottom-logos {
	display: flex;
	flex-direction: column;
	width: 110px;
	margin: 60px 0px 100px 0px;
}

#google, #microsoft {
	width: 150px;
	align-self: center;
}

/* bottom section*/

#bottom-section {
	width: 500px;
	background-color: hsla(202, 11%, 66%, 0.096);
}

#bottom-clipboard-logo {
	width: 50px;
    margin: 45px 0px 10px 0px;
}

.company-logo {
	margin: 35px 0px 35px 0px;
}

.fa-brands {
    color: var(--dark-grayish-blue);
    margin: 30px 40px 0px 0px;
    font-size: 25px;
}

.fa-instagram {
    margin-right: 0px;
}

#social-icons {
	margin-bottom: 40px;
}

#social-icons:hover {
	cursor: pointer;
}

footer {
	background-color: hsla(202, 11%, 66%, 0.096);
	width: 500px;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: var(--strong-cyan)
}

@media (min-width: 1440px) {
body {
	background-image: url(/images/bg-header-desktop.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 auto;
}

	p {
	padding: 0px 370px 0px 370px;
}

button {
	width: 245px;
	font-size: 20px;
	font-weight: 700;
}

footer {
	width: 100%;
}

.ios-button {
	margin-right: 20px;
}

#second-section, #fourth-section, #bottom-logos, #bottom-section {
	display: flex;
	flex-direction: row;
}

/*top section styling*/

/*second section styling*/

#apple-desktop {
	width: 750px;
	position: relative;
	left:-51px;
}

#second-section-info {
	position: relative;
	top: 100px;
}

.second-section-title {
	text-align: left;
	margin-bottom: 0px;
	margin-left: 70px;
}

.section-blurb {
	padding: 0px 250px 0px 0px;
	text-align: left;
	margin-left: 70px;
	margin-top: 10px;
	font-size: 16px;
}

/* third section styling*/

#mobile-devices {
	width: 900px;
}

/* fourth section styling*/

#fourth-section {
	margin-bottom: 50px;
}

#blacklist-info, #text-snippet-info, #preview-info {
	width: 380px;
}

#blacklist-info {
	position: relative;
	top: -8px;
}

.fourth-section-info {
	padding: 0px 20px 0px 20px;
	font-size: 16px;
}

/*bottom section*/

ul, li {
	display: flex;
}

li {
	margin-top: 20px;
}

a:hover {
	color: var(--strong-cyan);
}

#bottom-section {
	width: 100%;
	height: 120px;
	align-items: center;
	justify-items: center;
}

#footer-logo {
	width: 200px;
	margin-bottom: 0px;
	margin-right: 50px;
}

#info-links {
	width: 900px;
}

.bottom-links {
	margin-right: 100px;
}


#social-icons {
	width: 200px;
	margin-bottom: 0px;
}

#bottom-logos {
	justify-content: center;
}

#google, #ibm, #microsoft, #hp {
	margin-right: 100px;
}

i:hover {
	color: var(--strong-cyan);
}

.attribution {
	padding: 0px;
}
}